# Root of the repository (used as Docker build context)
node_modules
**/node_modules
**/dist
**/.next
.git
Dockerfile*
docker-compose*yml
.env*
data
*.log

# Android wrapper (not part of the web/api images)
android
**/build
**/.gradle
**/gradle